:root{
    --color-primary: #a9732a;
    --color-primary-dark: #361b0e;
    
    --color-secondary: #64E9EE;
    --color-secondary-dark: #3AAFB9;

    --color-gray-light: #f1f1f1;
    --color-gray: #ccc;
    --color-gray-dark: #333;
}